@args hRow

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ENTITY}} #{{ hb_NToS(hRow['id']) }}</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <h1>{{ENTITY}} #{{ hb_NToS(hRow['id']) }}</h1>

  <dl>
    <dt>Name</dt><dd>{{ hRow['name'] }}</dd>
    <dt>Notes</dt><dd>{{ hRow['notes'] }}</dd>
  </dl>

  <p>
    <a href="/{{ENTITY_PLURAL_LOWER}}/{{ hb_NToS(hRow['id']) }}/edit">Edit</a>
    &nbsp;|&nbsp;
    <a href="/{{ENTITY_PLURAL_LOWER}}">Back to list</a>
  </p>

  <form method="POST" action="/{{ENTITY_PLURAL_LOWER}}/{{ hb_NToS(hRow['id']) }}/delete"
        onsubmit="return confirm('Delete this {{ENTITY_LOWER}}?')">
    <button type="submit">Delete</button>
  </form>
</body>
</html>
